<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Petsbnb</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		</li>
		<li class="nav-item active">
          <a class="nav-link" href="#">シッターになる</a>
		</li>
		<li class="nav-item active">
          <a class="nav-link" href="#">利用の流れ</a>
		</li>
		<li class="nav-item active">
          <a class="nav-link" href="#">アカウント作成</a>
		</li>
		<li class="nav-item active">
          <a class="nav-link" href="#">ログイン</a>
		</li>	  
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
</div>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<p>こんにちわ</p>
